<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aman.thinkin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.aman.thinkin.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aman.thinkin.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.aman.thinkin.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.aman.thinkin.PostsActivity"
            android:label="@string/title_activity_posts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.aman.thinkin.planner.Planner_MainActivity"
            android:label="@string/title_activity_planner__main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.aman.thinkin.planner.planner_components.Planner_Reminder"
            android:label="@string/title_activity_planner__reminder"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aman.thinkin.planner.Planner_MainActivity" />
        </activity>
        <activity android:name="com.aman.thinkin.CommentActivity"
            android:label="Comments"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>